.submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.submenu li {
    display: inline-block;
    margin-right: 10px;
}

.submenu li:last-child {
    margin: 0;
}

.submenu .btn {
    margin-bottom: 0;
}

.submenu .active .btn {
    background-color: #fff;
    color: #000;
}

.entry-title {
    margin: 0 0 20px 0;
    max-width: none;
    text-align: center;
}

.albums {
    list-style-position: inside;
    padding-left: 0;
}

/* #tracks li, .gobbles li { */
li {
    margin: 10px 0;
}

#site-nav ul {
    margin-bottom: 25px;
}

#site-nav li {
    margin: 0;
}

.avatar {
    text-align: center;
}

.photo {
    margin-bottom: 25px;
}

/*.haudio .albumart {*/
.entry-feature-image {
    margin: 0 0 12px 0;
}

label {
    margin-top: 10px;
}

.tabs {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 10px;
    padding: 0;
}

.tabs li {
    display: inline-block;
    margin: 0;
    position: relative;
    top: 1px;
}

.tabs a {
    border: 1px solid #000 !important;
    border-bottom: 0;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
    padding: 5px;
}

.tabs .active {
    border-top-width: 5px !important;
    padding-top: 1px;
}

.panels h4 {
    margin-top: 0;
    padding: 0;
}

.panels {
    border: 1px solid #000;
    padding: 5px;
}

